In [117]:
import numpy as np
import pandas as pd

In [118]:
df = pd.read_csv("./weatherHistory.csv")

In [119]:
df.groupby("Precip Type").mean("Temperature (C)")

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
Precip Type,,,,,,,,
rain,13.852989,13.013425,0.718699,10.971219,189.123170,10.830711,0.0,1002.764548
snow,-3.270885,-6.249847,0.863263,9.481998,174.754294,6.636570,0.0,1006.216970

In [120]:
df["Formatted Date"] = pd.to_datetime(df["Formatted Date"], utc = True)

In [121]:
df.drop_duplicates("Formatted Date", keep = "first", inplace= True)

In [122]:
df.index = df["Formatted Date"]

In [123]:
df.asfreq("30T").ffill(inplace=True)

In [181]:
df["Date"] = pd.to_datetime(df["Formatted Date"]).dt.strftime("%Y-%m")

In [194]:
p = df.groupby(["Summary", "Precip Type"]).agg({"Humidity": "mean"})
p["Humidity"].groupby(level=0, group_keys=False).nsmallest()

Summary                              Precip Type
Breezy                               rain           0.620000
                                     snow           0.700000
Breezy and Dry                       rain           0.260000
Breezy and Foggy                     snow           0.934815
                                     rain           0.951250
Breezy and Mostly Cloudy             rain           0.632082
                                     snow           0.730769
Breezy and Overcast                  rain           0.762331
                                     snow           0.770000
Breezy and Partly Cloudy             rain           0.543984
                                     snow           0.644286
Clear                                rain           0.714937
                                     snow           0.824339
Dangerously Windy and Partly Cloudy  rain           0.490000
Drizzle                              rain           0.867949
Dry                                  rain           0.230294
Dry and Mostly Cloudy                rain           0.242143
Dry and Partly Cloudy                rain           0.240814
Foggy                                snow           0.940355
                                     rain           0.958532
Humid and Mostly Cloudy              rain           0.874250
Humid and Overcast                   rain           0.881429
Humid and Partly Cloudy              rain           0.848824
Light Rain                           rain           0.888095
Mostly Cloudy                        rain           0.717895
                                     snow           0.825445
Overcast                             rain           0.834205
                                     snow           0.855831
Partly Cloudy                        rain           0.638544
                                     snow           0.819831
Rain                                 rain           0.947000
Windy                                rain           0.572500
Windy and Dry                        rain           0.240000
Windy and Foggy                      rain           0.883333
                                     snow           0.950000
Windy and Mostly Cloudy              rain           0.600000
Windy and Overcast                   rain           0.702857
                                     snow           0.790000
Windy and Partly Cloudy              rain           0.528806
Name: Humidity, dtype: float64

In [197]:
pd.cut(df["Temperature (C)"],5)

Formatted Date
2006-03-31 22:00:00+00:00    (2.869, 15.214]
2006-03-31 23:00:00+00:00    (2.869, 15.214]
2006-04-01 00:00:00+00:00    (2.869, 15.214]
2006-04-01 01:00:00+00:00    (2.869, 15.214]
2006-04-01 02:00:00+00:00    (2.869, 15.214]
                                  ...
2016-09-09 17:00:00+00:00    (15.214, 27.56]
2016-09-09 18:00:00+00:00    (15.214, 27.56]
2016-09-09 19:00:00+00:00    (15.214, 27.56]
2016-09-09 20:00:00+00:00    (15.214, 27.56]
2016-09-09 21:00:00+00:00    (15.214, 27.56]
Name: Temperature (C), Length: 96429, dtype: category
Categories (5, interval[float64, right]): [(-21.884, -9.477] < (-9.477, 2.869] < (2.869, 15.214] < (15.214, 27.56] < (27.56, 39.906]]

In [214]:
df.groupby(["Humidity", pd.cut(df["Temperature (C)"], 5)]).size().unstack()

Temperature (C),"(-21.884, -9.477]","(-9.477, 2.869]","(2.869, 15.214]","(15.214, 27.56]","(27.56, 39.906]"
Temperature (C),,,,,
-21.822222,1,0,0,0,0
-21.111111,3,0,0,0,0
-20.783333,1,0,0,0,0
-20.555556,2,0,0,0,0
-20.277778,1,0,0,0,0
...,...,...,...,...,...
38.861111,0,0,0,0,1
38.866667,0,0,0,0,1
38.983333,0,0,0,0,3
39.588889,0,0,0,0,1
39.905556,0,0,0,0,1

In [212]:
df.groupby("Temperature (C)").size()

Temperature (C)
-21.822222    1
-21.111111    3
-20.783333    1
-20.555556    2
-20.277778    1
             ..
 38.861111    1
 38.866667    1
 38.983333    3
 39.588889    1
 39.905556    1
Length: 7574, dtype: int64